/* Background color for the whole page */
body {
  background-color: #258DCB;
  font-family: Arial, sans-serif;
  text-align: center;
}
/* Other styles */
#display {
  margin-top: 20px;
}
.word {
  display: inline-block;
  margin: 5px;
  font-size: 20px;
  font-weight: bold;
}

  /* Inline CSS for Arabic text */
.arabic-text {
  direction: rtl; /* Right-to-left direction */
  font-size: 20px;
  font-family: Arial, sans-serif; /* or another Arabic-friendly font */
}
